@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.explore:hover {
  animation: spread 3s infinite;
}

@keyframes spread {
  50% {
    box-shadow: 0 0 0 2rem rgb(214, 211, 209, 0.5);
  }
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 24px;
  height: 2px;
  background-color: white;
  top: 0;
  left: 0;
  transform: rotate(0);
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(8px) translateX(8px);
  transition: 0.2s all;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(8px) translateX(-8px);
  transition: 0.2s all;
}
